AddHandler   server-parsed .html .htm
AddType      text/plain   axof antab ant bsp blq cat crl eob eop fil hps key lis nut plan rms skd skf spind spl src_sess src_stat sta stat sum tex uvflagvel vex vtd res heo erm sou tab tabl cfd cal src log gain INSTALL f95 py c f names py
