# VCAT  Configuration file.  Version of 2020.06.08
#
#  GVF_ENV_DIR    name of the GVF directory for ascii database envelopes
#  GVF_DB_DIR     name of the GVF directory for binary database files
#  VTD_CONF_FILE  name of VTD configuration files used by interactive Solve 
#
#  Last update: @D
#
GVF_REP_NAMES:  OBS  INT 
#
GVF_ENV_DIR:    OBS  ${SOLVE_GVF_DATA}/obs/env
GVF_DB_DIR:     OBS  ${SOLVE_GVF_DATA}/obs/db
#
GVF_ENV_DIR:    INT  ${SOLVE_GVF_DATA}/int/env
GVF_DB_DIR:     INT  ${SOLVE_GVF_DATA}/int/db
#
VTD_CONF_FILE: /vlbi/solve/save_files/vtd_getdb.cnf
#
# VCAT  Configuration file.  Version of 2020.06.08
