# VCAT  Configuration file.  Version of 2020.06.08
#
GVF_REP_NAMES:  OBS SYS SIM
#
GVF_DB_DIR:    OBS  __PIMA_SHARE__/gvf_db
GVF_ENV_DIR:   OBS  __PIMA_SHARE__/gvf_env
#
GVF_DB_DIR:    SYS  __PIMA_SHARE__/gvf_db
GVF_ENV_DIR:   SYS  __PIMA_SHARE__/gvf_env
#
GVF_DB_DIR:    SIM  __PIMA_SHARE__/sim_gvf_db
GVF_ENV_DIR:   SIM  __PIMA_SHARE__/sim_gvf_env
#
VTD_CONF_FILE: __PIMA_SHARE__/vtd_getdb.cnf
#
# VCAT  Configuration file.  Version of 2020.06.08
