SPD_3D_CONF   Format version of 2015.01.06
#
#  Last updated 2016.11.26_16:31:10
#
REFR_EXPR:   Radio_Aparicio_2011
SPD_ALG:     y_nonloc
FIL_STA:     /opt64/spd/share/vlbi.inp
FIL_GEOID:   EGM2008_geoid_height_bspl_d1023.heb
FIL_OH:      geosfpit_height_above_geoid.heb
FIL_LEAPSEC: /apr/eop/leapsec.dat
FIL_DESC:    /progs/spd_20220211/spd/share/spd_desc.txt
FIL_FMT:     /opt64/spd/doc/spd_3d_format.txt
TIM_INTRV:   10800.0D0
N_EL:        1
N_AZ:        1
SOB_ALG:     zpd
N_FRQ:       0
