	CHARACTER  SUR_SKED__VERSION*@@SUR_SKED_VERSION@@
	CHARACTER  SUR_SKED__ROOT*@@SUR_SKED_ROOT@@
	CHARACTER  SUR_SKED__PREFIX*@@SUR_SKED_PREFIX@@
	PARAMETER  ( SUR_SKED__VERSION = '%%SUR_SKED_VERSION%%' )
	PARAMETER  ( SUR_SKED__ROOT    = '%%SUR_SKED_ROOT%%' )
	PARAMETER  ( SUR_SKED__PREFIX  = '%%SUR_SKED_PREFIX%%' )
