 1 SIMPLE  =                    T           / Standard FITS file
 1 BITPIX  =                  -32           / FITS data type
 1 NAXIS   =                    7           / Rank of the array
 1 NAXIS1  =                    0
 1 NAXIS2  =                    3
 1 NAXIS3  =            @NUM_POL@
 1 NAXIS4  =                    1
 1 NAXIS5  =           @NUM_FREQ@
 1 NAXIS6  =                    1
 1 NAXIS7  =                    1
 1 EXTEND  =                    T           / Extensions may be present
 1 GROUPS  =                    T           / Random-groups HDU
 1 PCOUNT  =                    7           / Parameter count
 1 GCOUNT  =             @GCOUNT@           / Number of groups
 1 CTYPE2  = 'COMPLEX '                     / 1=real, 2=imag, 3=weight
 1 CRPIX2  =      1.0000000000000           / Reference pixel
 1 CRVAL2  =      1.0000000000000           / Reference value
 1 CDELT2  =      1.0000000000000           / Pixel increment
 1 CROTA2  =      0.0000000000000           / Axis rotation
 1 CTYPE3  = 'STOKES  '                     / 1=I,  -1=RR, -2=LL, -3=RL, -4=LR
 1 CRPIX3  =     @STOKES_PIXEL__@           / Reference pixel
 1 CRVAL3  =     -1.0000000000000           / Reference value
 1 CDELT3  =     @STOKES_DELTA__@           / Pixel increment
 1 CROTA3  =      0.0000000000000           / Axis rotation
 1 CTYPE4  = 'FREQ    '                     / Sky Frequency in Hz.
 1 CRPIX4  =      1.0000000000000           / Reference pixel
 1 CRVAL4  =      @FREQ_REF     @           / Reference value
 1 CDELT4  =      @IF_WIDTH     @           / Pixel increment
 1 CROTA4  =      0.0000000000000           / Axis rotation
 1 CTYPE5  = 'IF      '                     / Freq. group no. in CH table
 1 CRPIX5  =      1.0000000000000           / Reference pixel
 1 CRVAL5  =      1.0000000000000           / Reference value
 1 CDELT5  =      1.0000000000000           / Pixel increment
 1 CROTA5  =      0.0000000000000           / Axis rotation
 1 CTYPE6  = 'RA      '                     / Right Ascension in degrees
 1 CRPIX6  =      1.0000000000000           / Reference pixel
 1 CRVAL6  =      @RA_DEG       @     	    / Reference value
 1 CDELT6  =      1.0000000000000           / Pixel increment
 1 CROTA6  =      0.0000000000000           / Axis rotation
 1 CTYPE7  = 'DEC     '                     / Declination in degrees
 1 CRPIX7  =      1.0000000000000           / Reference pixel
 1 CRVAL7  =      @DEC_DEG      @           / Reference value
 1 CDELT7  =      1.0000000000000           / Pixel increment
 1 CROTA7  =      0.0000000000000           / Axis rotation
 1 PTYPE1  = 'UU      '                     / Parameter name
 1 PSCAL1  =      1.0000000000000           / Parameter scale
 1 PZERO1  =      0.0000000000000           / Parameter offset
 1 PTYPE2  = 'VV      '                     / Parameter name
 1 PSCAL2  =      1.0000000000000           / Parameter scale
 1 PZERO2  =      0.0000000000000           / Parameter offset
 1 PTYPE3  = 'WW      '                     / Parameter name
 1 PSCAL3  =      1.0000000000000           / Parameter scale
 1 PZERO3  =      0.0000000000000           / Parameter offset
 1 PTYPE4  = 'BASELINE'                     / Parameter name
 1 PSCAL4  =      1.0000000000000           / Parameter scale
 1 PZERO4  =      0.0000000000000           / Parameter offset
 1 PTYPE5  = 'DATE    '                     / Parameter name
 1 PSCAL5  =      1.0000000000000           / Parameter scale
 1 PZERO5  =      @JDATE        @           / Parameter offset
 1 PTYPE6  = 'DATE    '                     / Parameter name
 1 PSCAL6  =      1.0000000000000           / Parameter scale
 1 PZERO6  =      0.00000000000000          / Parameter offset
 1 PTYPE7  = 'INTTIM  '                     / Parameter name
 1 PSCAL7  =      1.0000000000000           / Parameter scale
 1 PZERO7  =      0.0000000000000           / Parameter offset
 1 ORIGIN  = @PIMA@                         / Origin of data
 1 DATE-OBS= @OBSDATE@                      / Observation date
 1 TELESCOP= @INSTRUMENT@                   / Telescope used
 1 INSTRUME= @INSTRUMENT@                   / Instrument used
 1 OBSERVER= @OBSERVER@                     / Experiment name
 1 OBJECT  = @OBJECT@                       / Name of observed source
 1 WEIGHTYP= 'NORMAL'                       / Weights are reciprical to the square of rms
 1 EPOCH   =      2000.0000000000           / Equinox of coordinates
 1 BSCALE  =      1.0000000000000           / Scale factor of array
 1 BZERO   =      0.0000000000000           / Zero offset of array
 1 BUNIT   = 'UNCALIB '                     / Unit of measurement
 1 VELREF  =                    3           / >256 RADIO, 1 LSR 2 HEL 3 OBS
 1 ALTRVAL =      0.0000000000000           / Alternate Freq/vel ref value
 1 ALTRPIX =      0.0000000000000           / Alternate Freq/vel ref pixel
 1 RESTFREQ=      0.0000000000000           / Rest frequency
 1 RA      =      @RA_DEG       @           / Best estimate of RA
 1 DEC     =      @DEC_DEG      @           / Best estimate of Dec
 1 OBSRA   =      @OBS_RA_DEG   @           / Antenna pointing RA
 1 OBSDEC  =      @OBS_DEC_DEG  @           / Antenna pointing Dec
 1 GACO    =      @GACO         @           / Gain correction used: 0 no, 1 yes
# End of Table 1 ------------------------------------------------
 2 XTENSION= 'A3DTABLE'                     / FITS extension type
 2 BITPIX  =                    8           / FITS data type
 2 NAXIS   =                    2           / Rank of the table
 2 NAXIS1  =            @NAX1_FQ@           
 2 NAXIS2  =                    1           / Number of table rows.
 2 PCOUNT  =                    0           / Random parameter count
 2 GCOUNT  =                    1           / Group count
 2 TFIELDS =                    5           / Number of table fields
 2 EXTNAME = 'AIPS FQ '                     / Extension name
 2 EXTVER  =                    1           / Extension version number
 2 EXTLEVEL=                    1           / Hierarchical level
 2 TTYPE1  = 'FRQSEL  '                     / Name of this table field
 2 TUNIT1  = '        '                     / Unit of measurement
 2 TFORM1  = '1J      '                     / Format of table field
 2 TTYPE2  = 'IF FREQ '                     / IF frequency offset
 2 TUNIT2  = 'HZ      '                     / Unit of measurement
 2 TFORM2  = @NUM_FR D@                     / Format of table field
 2 TTYPE3  = 'CH WIDTH'                     / Chanel width 
 2 TUNIT3  = 'HZ      '                     / Unit of measurement
 2 TFORM3  = @NUM_FR E@                     / Format of table field
 2 TTYPE4  = 'TOTAL BANDWIDTH'              / Total IF bandwidth
 2 TUNIT4  = 'HZ      '                     / Unit of measurement
 2 TFORM4  = @NUM_FR E@                     / Format of table field
 2 TTYPE5  = 'SIDEBAND'                     / Upper/Lower sideband: 1(U), -1(L)
 2 TUNIT5  = '        '                     / Unit of measurement
 2 TFORM5  = @NUM_FR J@                     / Format of table field
 2 NO_IF   =           @NUM_FR  @           / Number of IFs
# End of Table 2 ------------------------------------------------
 3 XTENSION= 'A3DTABLE'                     / FITS extension type
 3 BITPIX  =                    8           / FITS data type
 3 NAXIS   =                    2           / Rank of the table
 3 NAXIS1  =                   54
 3 NAXIS2  =                @STA@           / Number of table rows.
 3 PCOUNT  =                    0           / Random parameter count
 3 GCOUNT  =                    1           / Group count
 3 TFIELDS =                   12           / Number of table fields
 3 EXTNAME = 'AIPS AN '                     / Extension name
 3 EXTVER  =                    1           / Extension version number
 3 EXTLEVEL=                    1           / Hierarchical level
 3 TTYPE1  = 'ANNAME  '                     / Station name
 3 TUNIT1  = '        '                     / Unit of measurement
 3 TFORM1  = '8A      '                     / Format of table field
 3 TTYPE2  = 'STABXYZ '                     / Station coordinates
 3 TUNIT2  = 'METERS  '                     / Unit of measurement
 3 TFORM2  = '3D      '                     / Format of table field
 3 TTYPE3  = 'ORBPARM '                     / Orbital parameters (not used)
 3 TUNIT3  = '        '                     / Unit of measurement
 3 TFORM3  = '0D      '                     / Format of table field
 3 TTYPE4  = 'NOSTA   '                     / Antenna internal index
 3 TUNIT4  = '        '                     / Unit of measurement
 3 TFORM4  = '1J      '                     / Format of table field
 3 TTYPE5  = 'MNTSTA  '                     / Mount type
 3 TUNIT5  = '        '                     / Unit of measurement
 3 TFORM5  = '1J      '                     / Format of table field
 3 TTYPE6  = 'STAXOF  '                     / Axis offset
 3 TUNIT6  = 'METERS  '                     / Unit of measurement
 3 TFORM6  = '1E      '                     / Format of table field
 3 TTYPE7  = 'POLTYA  '                     / Feed A polarization label
 3 TUNIT7  = '        '                     / Unit of measurement
 3 TFORM7  = '1A      '                     / Format of table field
 3 TTYPE8  = 'POLAA   '                     / Feed A orientation
 3 TUNIT8  = 'DEGREES '                     / Unit of measurement
 3 TFORM8  = '1E      '                     / Format of table field
 3 TTYPE9  = 'POLCALA '                     / Feed A polarization parameters
 3 TUNIT9  = '        '                     / Unit of measurement
 3 TFORM9  = '0E      '                     / Format of table field
 3 TTYPE10 = 'POLTYB  '                     / Feed B polarization label
 3 TUNIT10 = '        '                     / Unit of measurement
 3 TFORM10 = '1A      '                     / Format of table field
 3 TTYPE11 = 'POLAB   '                     / Feed B polarization label
 3 TUNIT11 = 'DEGREES '                     / Unit of measurement
 3 TFORM11 = '1E      '                     / Format of table field
 3 TTYPE12 = 'POLCALB '                     / Feed B polarization parameters
 3 TUNIT12 = '        '                     / Unit of measurement
 3 TFORM12 = '0E      '                     / Format of table field
 3 ARRAYX  =      0.0000000000000           / Array center X coord | wrt Earth 
 3 ARRAYY  =      0.0000000000000           / Array center Y coord | center 
 3 ARRAYZ  =      0.0000000000000           / Array center Z coord | (meters)
 3 GSTIA0  =      0.0000000000000           / GST at tim e=0 on the ref. date (degrees)
 3 DEGPDY  =      0.0000000000000           / Earth rotation rate (deg/day)
 3 FREQ    =      @FREQ_REF     @           / Ref. freq. of sub-array
 3 RDATE   =         @REF_DATE  @           / EOP reference date
 3 POLARX  =     0.00000000000000           / Polar X position
 3 POLARY  =     0.00000000000000           / Polar Y position
 3 UT1UTC  =     0.00000000000000           / UT1-UTC (sec)
 3 DATUTC  =     0.00000000000000           / Data time-UTC (sec)
 3 TIMSYS  = 'UTC     '                     / Time system
 3 ARRNAM  = @INSTRUMENT@                   / Array name
 3 NUMORB  =                    0           / Number of orbital parameters
 3 NOPCAL  =                    0           / Number of polarization parameters
 3 POLTYPE = 'APPROX  '                     / Feed polarization parameterization
# End of Table 3 ------------------------------------------------
 4 XTENSION= 'A3DTABLE'                     / FITS extension type
 4 BITPIX  =                    8           / FITS data type
 4 NAXIS   =                    2           / Rank of the table
 4 NAXIS1  =            @NAX1_GACO@         /
 4 NAXIS2  =                @STA J@         / Number of table rows.
 4 PCOUNT  =                    0           / Random parameter count
 4 GCOUNT  =                    1           / Group count
 4 TFIELDS =                    4           / Number of table fields
 4 EXTNAME = 'GACO    '                     / Extension name
 4 EXTVER  =                    1           / Extension version number
 4 EXTLEVEL=                    1           / Hierarchical level
 4 TTYPE1  = 'ANNAME  '                     / Station name
 4 TUNIT1  = '        '                     / Unit of measurement
 4 TFORM1  = '8A      '                     / Format of table field
 4 TTYPE2  = 'GAINCORR'                     / Gain correction
 4 TUNIT2  = '        '                     / Unit of measurement
 4 TFORM2  = @NUM_FR E@                     / Format of table field
 4 TTYPE3  = 'GACOERR '                     / Gain correction error
 4 TUNIT3  = '        '                     / Unit of measurement
 4 TFORM3  = @NUM_FR E@                     / Format of table field
 4 TTYPE4  = 'NVIS    '                     / Number of visibilites used
 4 TUNIT4  = '        '                     / Unit of measurement
 4 TFORM4  = @NUM_FR J@                     / Format of table field
# End of Table 4 ------------------------------------------------
