!
! >>>>> petools_local.i   2026.05.15 v 1.00  --  PETOOLS__%%DATE
!
! ----- Local customization
!
	CHARACTER  PETOOLS__VERSION*(PETOOLS__VERSION%%LEN)
	CHARACTER  PETOOLS__LABEL*(PETOOLS__LABEL%%LEN)
	CHARACTER  PETOOLS__PREFIX*(PETOOLS__PREFIX%%LEN)
	CHARACTER  PETOOLS__ROOT*(PETOOLS__ROOT%%LEN)
	CHARACTER  PETOOLS__DOC*(PETOOLS__DOC%%LEN)
!
	PARAMETER  ( PETOOLS__VERSION     = 'PETOOLS__VERSION%%STR' )
	PARAMETER  ( PETOOLS__LABEL       = 'PETOOLS__LABEL%%STR' )
	PARAMETER  ( PETOOLS__PREFIX      = 'PETOOLS__PREFIX%%STR' )
	PARAMETER  ( PETOOLS__ROOT        = 'PETOOLS__ROOT%%STR' )
	PARAMETER  ( PETOOLS__DOC         = 'PETOOLS__DOC%%STR' )
